.Card {
    cursor: pointer;
}

.CardImg {
    width: 100%;
}

.CardTitle {
    font-size: 24px;
    font-weight: 600;
    margin: 1rem 0;
}

.CardTitle ~ p {
    margin: 0;
}

.PlaceholderCard {
    width: 100%;
    background-color: rgb(151, 151, 151);
}