.Header {
    display: grid;
    grid-template-columns: 1fr 8.5fr 1fr;
    margin: 1.5rem 0;
}

.Links {
    grid-column: 2 / 3;
    justify-self: end;
}

.Links > a {
    margin: 0 1.5rem;
}

.Links > a:last-child {
    margin-right: 0;
}

.HeaderIcons {
    font-size: 1.35rem;
    color: rgb(128, 128, 128);
}

.HeaderIcons:hover {
    color: rgb(37, 37, 37);
}

.FirstLink{
    color: rgb(37, 37, 37);
}

@media only screen and (max-width: 768px) {

    .Header {
        display: none;
    }
}