.App {
  display: grid;
  grid-template-columns: 1fr 8.5fr 1fr;
}

.App > * {
  grid-column: 2 / 3;
}

.Introduction {
  align-self: center;
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.Introduction > p {
  grid-column: 1 / 6;
}

.Introduction p:nth-child(2) {
  line-height: normal;
}

.Introduction > p:not(:nth-child(2)) {
  margin: 0;
}

.Subtext {
  font-size: 24px;
  line-height: 2rem;
  font-weight: 500;
}

.Attention {
  font-size: clamp(28px, 4vw, 72px);
  font-weight: 700;
  margin: 2rem 0;
}

.Attention:nth-child(1) {
  margin-bottom: 3rem;
}

.Cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  margin-bottom: 2rem;
}


@media only screen and (max-width: 768px) {

  .Introduction {
    margin: 50px 0;
    display: block;
  }

  .Attention {
    margin: 1.5rem 0;
  }

  .Attention:nth-child(1) {
    margin-bottom: 2rem;
  }

  .Cards {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}